@import "../../assets/styles/variables";

.background__element {
  //   background-color: $primary;
  height: 5vw;
  aspect-ratio: 1;
  position: absolute;
  z-index: -5;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
}
.icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(0, 1%, 15%);
  z-index: -1;
  font-weight: bold;
}
